<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div>
	<div id="navbar">
		<h1>Dominion Deck Stuff</h1><a href="">Profile</a><a href="">Log Out</a>
		<ul>
			<li>Players</li>
			<li>Kingdoms</li>
			<li>Cards</li>
		</ul>
	</div>
	<div id="content">
		<div id="sidebar">
			<button>New Kingdom</button>
			<button>New Game</button>
			<button>New Ratings</button>
		</div>
		<div id="main_stuff">
			<div id="hi">
				<h4>About this site :]</h4>
				<p>This site helps people keep track of kingdoms and games that they have played. based off the system of rating I developed, I thought it would be neat to provide an environment where people could post lists and rate kingdoms that they have played. In addition to this basic functionality for helping solve the 'what do we play?' question, this site will eventually include features for randomly generating sets based off of parameters and in the looooong term future maybe using machine-learning to develop sets tailored to the set creator, players, and number of peeps.</p>
				
			</div>
			<div id="lists">
				<div class="fun_list">
					<h5>Recent Kingdoms</h5>
				</div>
				<div class="fun_list">
					<h5>Top Kingdoms</h5>
				</div>
				<div class="fun_list">
					<h5>Top Cards</h5>
				</div>
			</div>
		</div>
		
	</div>
</div>

</body>
</html>