<html>
<head>
	<title>
		DnD Dice Helper
	</title>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script>
		$(document).ready(function(){

		})
	</script>
</head>
<body>
	<div id="dice_partial">
		<div id="d4">
			<form action="/roll">
				<h4>d4</h4>
				<input type="hidden" name="size" value="4">
				<input type="number" name="no_dice">
				<input type="submit" value="roll">
			</form>
		</div>
		<div id="d6">
			<form action="/roll">
				<h4>d6</h4>
				<input type="hidden" name="size" value="4">
				<input type="number" name="no_dice">
				<input type="submit" value="roll">
			</form>
		</div>
		<div id="d8">
			<form action="/roll">
				<h4>d8</h4>
				<input type="hidden" name="size" value="4">
				<input type="number" name="no_dice">
				<input type="submit" value="roll">
			</form>
		</div>
		<div id="d10">
			<form action="/roll">
				<h4>d10</h4>
				<input type="hidden" name="size" value="4">
				<input type="number" name="no_dice">
				<input type="submit" value="roll">
			</form>
		</div>
		<div id="d20">
			<form action="/roll">
				<h4>d20</h4>
				<input type="hidden" name="size" value="4">
				<input type="number" name="no_dice">
				<input type="submit" value="roll">
			</form>
		</div>
		<div id="d100">
			<form action="/roll">
				<h4>d100</h4>
				<input type="hidden" name="size" value="4">
				<input type="number" name="no_dice">
				<input type="submit" value="roll">
			</form>
		</div>
	</div>

</body>
</html>